.checkout-info {
  width: 70%;
}
.summary {
  width: 30%;
}

.tabs {
  display: flex;
}
.tabs button {
  flex: 1 1 0;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
.tabs button:hover {
  background-color: #ffbb7d;
}
.tabs button.active {
  background-color: #ffbb7d;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tab-header {
  color: #323232;
  font-weight: 600;
  font-size: 1.5rem;
}
