html {
  font-size: 16px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
header {
  color: #ffffff;
  background-color: #00000052;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.site-header {
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.main-section {
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
  height: 350px;
  padding-top: 221px;
  text-align: center;
  color: #ffffff;
}
.main-header {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
.main-caption {
  font-size: 1.3rem;
}
a {
  text-decoration: none;
}
button {
  height: 43px;
}
.searchbox {
  width: 30%;
  height: 17px;
  padding: 0.8rem;
  border: 1px solid #00000094;
}
.jstfy-space-around {
  justify-content: space-around;
}
.jstfy-center {
  justify-content: center;
}
.jstfy-space-btwn {
  justify-content: space-between;
}
.mt-2 {
  margin-top: 2rem;
}
.navigation {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: auto;
}
.navigation li a {
  text-decoration: none;
  color: #ffffff;
  margin: 0.5rem;
}
.site-brand {
  font-size: 30px;
}
.site-brand a {
  color: #ffffff;
  text-transform: uppercase;
  font-family: cursive;
}
.card {
  width: 18%;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  box-shadow: 0.2rem 0.25rem 0.25rem rgba(169, 93, 15, 0.075);
}
.meal-body {
  padding: 0.4rem;
}
.meal-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.meal-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
}
.meal-details {
  display: flex;
  align-items: center;
}
.meal-price {
  font-size: 1rem;
  margin: 0;
}
.add-to-cart {
  padding: 0.4rem;
  margin-left: auto;
  border-radius: 3px;
  background-color: #ea5b31;
}
.add-to-cart a {
  color: #ffffff;
}
.newsletter {
  background-color: #ea5b31;
  text-align: center;
  padding: 1rem;
  color: #fff;
}
.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.newsletter-btn {
  background-color: #4a4a4a;
  color: white;
  border: none;
  font-size: 1rem;
}
.dropdown {
  position: relative;
}
.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}
.dropdown-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  padding: 0.3rem;
  background-color: #194f8dbf;
  border-radius: 5px;
  width: 133px;
}
.dropdown-menu li {
  list-style: none;
  border-bottom: 1px solid #ffffff63;
  padding: 0.3rem 0;
}
.dropdown-menu li a {
  margin: 0;
}
.dropdown-menu li:last-of-type {
  border-bottom: none;
}
