header {
  color: #ffffff;
  background-color: #131230;
}
.signup {
  width: 49%;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #000000b5;
  border-radius: 4px;
}
.login {
  width: 33%;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #000000b5;
  border-radius: 4px;
}
.form-row {
  width: 45%;
  height: 1.5rem;
  border-radius: 0.25rem;
  padding: 0.6rem;
  border: 1px solid;
  margin: 0.3rem 0;
}
.form-input {
  width: 95.7%;
}
.form-btn {
  height: 3rem;
  width: 99.8%;
  background-color: #ea5b31;
  color: white;
  border: 1px solid;
  font-size: 1rem;
}
.login-btn {
  width: 101.6%;
}
.form-extras {
  margin: 0rem 0.2rem;
}
.form-extras p {
  font-size: 0.9rem;
  margin: 0.4rem 0;
}
.form-extras p a {
  text-decoration: none;
  color: #ea5b31;
}
.to-register {
  display: flex;
  align-items: center;
}
.to-register span a {
  color: #ea5b31;
  font-size: 0.9rem;
}
